body {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color:black;
    background-color: rgb(143, 143, 143);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 2em;
    text-align: center;
}

p{
    font-size: 1.2em;
    margin: 10px 0;
}

button{
    padding: 5px 30px;
    margin: 20px;
    border-radius: 30px; 
    cursor: pointer;
    border: none;
}
.total{
    text-align: center;
}

button:hover{
    transition: all 0.6s ease;
    background-color: rgb(44, 44, 44);
    color:white; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}
h2{
    text-align: center;
}
.card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.feedback{
    text-align: center;
    padding: 10px;
}